<div qv-extension>
  <table border="1">
    <thead>
      <th>Selection</th>
      <th>Object name</th>
      <th>Selection Status</th>
      <th>Title</th>
    </thead>
    <tbody>
      <tr ng-repeat="row in objIdList">
        <td>
          <input type="checkbox" ng-model="row.selected" />
        </td>
        <td>{{row.name}}</td>
        <td>{{row.selected}}</td>
        <td>{{row.title}}</td>
      </tr>
    </tbody>
  </table>
  <button ng-click="show()">show</button>
  <button ng-click="export()">Export</button>
</div>
